<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samkeet.smartreva">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Attendence.AttendenceMainActivity" />
        <activity android:name=".Events.EventsMainActivity" />
        <activity android:name=".Library.LibraryMainActivity" />
        <activity android:name=".Notes.NotesMainActivity" />
        <activity android:name=".Results.ResultsMainActivity" />
        <activity android:name=".Councling.CounclingMainActivity" />
        <activity android:name=".Councling.CounclingNewAppointment" />
        <activity android:name=".Councling.CounclingMyAppointment" />
        <activity
            android:name=".Councling.CounclingTimePickActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Councling.CounclingAboutUs" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Notification.NotificationMainActivity" />
        <activity android:name=".Attendence.AttendenceTakeAttendence" />
        <activity android:name=".Attendence.AttendenceViewAttendence" />
        <activity android:name=".Attendence.AttendenceGenerateAttendenceReport" />
        <activity
            android:name=".Notes.NotesUploadNotes"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Notes.NotesViewNotes" />
        <activity
            android:name=".Attendence.AttendenceGenerateListActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".ProfileStudentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ProfileFacultyActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Timetable.TimetableMainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Events.EventsAddEventActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Councling.CounclingNewPost"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Notes.NotesUploadToServer"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Fees.FeesMainActivity" />
        <activity android:name=".AlumniCell.AlumniLoginActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".Events.EventManager" />
        <activity android:name=".Events.EventsMemberListActivity" />
        <activity android:name=".Attendence.AttendenceAbsentDetailsActivity" />
        <activity android:name=".Placement.PlacementMainActivity" />
        <activity
            android:name=".Placement.PlacementRegForm1"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Placement.PlacementDriveManager" />
        <activity android:name=".Placement.PlacementAcademicDetails" />
        <activity android:name=".Placement.PlacementTrainingCertification" />

        <service android:name=".Firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AlumniCell.AlumniRegistrationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".AlumniCell.AlumniEventsActivity" />
        <activity android:name=".Placement.PlacementRegInit" />
        <activity
            android:name=".Placement.PlacementRegForm2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Placement.PlacementRegForm3"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Placement.PlacementNewTraningCertification" />
        <activity android:name=".Notes.NotesManager" />
        <activity android:name=".Placement.PlacementTermAndConditionActivity" />
        <activity android:name=".AlumniCell.AlumniMainActivity" />
        <activity android:name=".AlumniCell.AlumniAboutUs" />
        <activity android:name=".AlumniCell.AlumniReferJobs" />
        <activity android:name=".AlumniCell.AlumniGivingBack" />
        <activity android:name=".AlumniCell.AlumniContactUs" />
        <activity android:name=".AlumniCell.AlumniEventManager" />
        <activity android:name=".AlumniCell.AlumniPostJobReferal" />
        <activity android:name=".AlumniCell.AlumniReferJobManager" />
        <activity android:name=".DevelopersActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".Mentor.MentorMainActivity" />
        <activity android:name=".Mentor.MentorStudentListActivity" />
        <activity android:name=".Mentor.MentorStudentDetailsActivity" />
        <activity android:name=".Mentor.MentorStudentAcademicDetailsActivity" />
        <activity android:name=".Mentor.MentorSendNotificationActivity" />
        <activity android:name=".Mentor.MentorStudentAcademicDetailsManager" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Placement2.Placement2LoginActivity" />
        <activity
            android:name=".Placement2.PlacementRegistration1"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Placement2.PlacementRegistration2"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Placement2.PlacementRegistration3"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".Placement2.UpcommingDrivesActivity" />
        <activity android:name=".Placement2.Placement2MainActivity" />
        <activity android:name=".AlumniCell.AlumniDisscussionReplyActivity" />
        <activity android:name=".AlumniCell.AlumniNewDisscussion" />
        <activity android:name=".AlumniCell.AlumniNotificationActivity" />
        <activity android:name=".AlumniCell.AlumniNotificationManager" />
        <activity android:name=".Placement2.PlacementRegistration4" />
        <activity android:name=".Mentor.MentorPlavementMainActivity" />
        <activity android:name=".Mentor.MentorPlacementAddStudentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".Mentor.MentorPlacementAcademicDetailsActivity" />
        <activity android:name=".Mentor.MentorPlacementAcademicDetailsManager"></activity>
    </application>

</manifest>