<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samkeet.smartreva">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Attendence.AttendenceMainActivity" />
        <activity android:name=".Events.EventsMainActivity" />
        <activity android:name=".Library.LibraryMainActivity" />
        <activity android:name=".Notes.NotesMainActivity" />
        <activity android:name=".Results.ResultsMainActivity" />
        <activity android:name=".Councling.CounclingMainActivity" />
        <activity android:name=".Councling.CounclingNewAppointment" />
        <activity android:name=".Councling.CounclingMyAppointment" />
        <activity
            android:name=".Councling.CounclingTimePickActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Councling.CounclingAboutUs" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Notification.NotificationMainActivity" />
        <activity android:name=".Attendence.TakeAttendence" />
        <activity android:name=".Attendence.ViewAttendence" />
        <activity android:name=".Attendence.GenerateAttendenceReport" />
        <activity android:name=".Notes.UploadNotes" />
        <activity android:name=".Notes.ViewNotes" />
        <activity
            android:name=".Attendence.GeneralListActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".ProfileStudentActivity" />
        <activity android:name=".ProfileFacultyActivity" />
        <activity android:name=".Setings.SettingsMainActivity" />
        <activity android:name=".Timetable.TimetableMainActivity" />
        <activity android:name=".Events.AddEventActivity" />
        <activity android:name=".Councling.CounclingNewPost" />
        <activity android:name=".Notes.UploadToServer" />
        <activity android:name=".Fees.FeesMainActivity" />
        <activity android:name=".AlumniCell.AlumniCellActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".Events.EventManager" />
        <activity android:name=".Events.MemberListActivity" />
        <activity android:name=".AlumniCell.UploadActivity" />
        <activity android:name=".Attendence.AbsentDetails" />
        <activity android:name=".Placement.PlacementMainActivity" />
        <activity android:name=".Placement.Profile" />
        <activity android:name=".Placement.DriveManager" />
        <activity android:name=".Placement.DriveManagement" />
        <activity android:name=".Placement.Grades"></activity>
    </application>

</manifest>